* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #17222c;
    color: white;
    width: 100%;
    overflow:hidden auto;
}

.logo-site {
    display: flex;
    height: 2%;
    align-items: center;
    border: 2px solid #243447;
    border-bottom: none;
}

.logo-site h2 {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

#arrow-back {
    color: #00acee;
    font-size: 15px;
    margin: 10px;
}

#tab-navegation {
    font-size: 25px;
}

.header-post {
    display: flex;
    flex-direction: row;
}

.header-post h1 {
    font-size: 20px;
    color: white;
    margin: 20px 0px;
}

.header-post-profile {
    display: flex;
    flex-direction: row;
}

.post-profile {
    margin-left: 10px;
}

.post article {
    border:2px solid #243447;
    border-bottom: none;
    padding: 10px 40px 0px 40px;
}

nav {
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none; 
    color: white; 
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    padding: 0;
    justify-content:start;
    align-items: center;
    margin-top: 50px;
}
li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
    opacity: 0.9;
    cursor: pointer;
}

li:hover {
    opacity: 1;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 15% 48% 37%;
    overflow:hidden auto;
}
@media (max-width: 1000px) {
    .container {
        grid-template-columns: 4% 15% 65% 21%;
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 0% 15% 83% 2%;
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 0% 15% 90% 0%;
    }
}
.post {
    padding: 0px 0px;  
}
.post-title {
    font-size: 16px;
}

.post-content {
    font-size: 14px;
}
.post-image {
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}
.post-info {
    display: flex;
    flex-direction: row; 
}
.post-info p {
    font-size: 14px;
    padding: 10px 10px;
}
.post-info p:first-child {
    padding: 10px 0px;
}



aside section {
    display: flex;
    height: 300px;
}

@media (max-width: 900px) {
    aside section {
        display: none;
    }
}

.interaction {
    height: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0px;
}
 .interaction li {
    text-align: center;
    border: none;
 }

hr {
    border-color: #243447;
}

.comment-container {
    border-top: solid 2px #243447;
    margin: 0px -40px; 
    padding: 20px 0px 10px 20px;
}

.comment-container:last-child {
    border-bottom: none;
}

.comment-content {
    padding: 0px 40px 0px 10px;
}

.comment-content p {

    font-size: 13px;
}

.comment-content h3 {
    margin-top: 5px;
    font-size: 16px;
}

.comment {
    display: flex;
    flex-direction: row;
}

.comment-profile {
    display: flex;
    flex-direction: row;
}

.comment-profile p {
    font-size: 16px;
}

.comment-profile p:last-child {
    font-size: 14px;
    padding-left: 5px;
}

.comment-text {
    margin-top: 10px;
}

.comment-text p{
    font-size: 14px;
}

.comment-interaction {
    margin-left: 10px;
}

.comment-image-profile img {
    margin-left: -20px;
}

.comment-image {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}

.video-responsivo {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

footer {
    display: flex;
    height: 30px;
    margin: 0 -100% -40px -100%;
    background-color: #0d1317;
    align-items: center;
    justify-content: center;
    
}

footer h3 {
    font-size: 12px;
    align-items: center;
}
