body {
    background-color: cadetblue;
    font-size: 16px;
}
h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p {
    font-size: 48px;
    font-weight: 600;
}

ul {
    list-style: none;
}

.back-color {
    background-color: greenyellow;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}
